#main{
	height: 350px;
	width: 320px;
	border: solid;
	border-color: black;
	position: relative;
}
#main1{
	height: 20px;
	width: 320px;
}
#main2{
	height: 20px;
	width: 320px;
}

span{
	width:20px;
	display: block;
	float:right;
}
#rotate{
	position: absolute;
	width: 10px; 
  	height: 10px; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}
#ball1{
	width: 20px;
	
	float:left;
	margin-top: 300px;
}
