#main{
	height: 350px;
	width: 320px;
	border: solid;
	border-color: black;
	position: relative;
}
#main1{
	height: 20px;
	width: 320px;
}


span{
	width:20px;
	height: 350px;
	display: block;
	float:right;
}
